#controlPanel {
  padding: 1rem;
}

#statusPanel {
  padding: 1rem;
}

#map {
  width: 100%;
  height: 80vh;
}

#controls {
  padding: 1rem;
  text-align: center;
  width: 200px;
}

.leaflet-div-icon {
  background: none;
  border: none;
  text-align: center;
  vertical-align: middle;
  font-size: 10pt;
  color: grey;
}

.active {
  color: blue;
}
